.Main_Screen {
  height: 100vh;
  border: 1pt solid black;
  background-color: white;
  text-align: center;
  color: black;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6,1fr);
}