.SearchBar{
    background-color: rgb(54, 54, 54);
    border-radius: 5pt;
    grid-column: 1 /4;
    grid-row: 1 / 2 ;
    display: inline-flex;
    justify-content: center;
}

.SearchBar input{
    align-self: center;
    text-align: center;
    font-size: 30pt;
    width: 75%;
    height: 75%;
    background-color:gray;
    color: white;
}